<div class="container-fluid">
  <!-- Navbar : to be editted more -->
  <!-- Navbar : to be editted more -->
  <nav class="navbar navbar-expand-lg navbar-light pt-4">
    <a class="navbar-brand pl-4" href="#">
      <h4><img src="assets/img/Logo2.png" alt="" srcset="">&nbsp; <span class="pt-5">Groital</span></h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-md-auto pr-5">
        <li class="nav-item active">

          <a class="nav-link font-weight-light navlink" href="#"><i class='bx bx-search search'></i> &nbsp;&nbsp;|
            &nbsp;&nbsp;&nbsp; Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Our Company
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light" href="#">About Us</a>
            <a class="dropdown-item font-weight-light" href="#">Contact Us</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-light active" href="#" id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-expanded="false">
            Product and Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Pineapple</a>
            <a class="dropdown-item" href="#">Coconut</a>
            <a class="dropdown-item" href="#">Dried Papaya</a>
            <a class="dropdown-item" href="#">Dried Mango</a>

          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link btn btn-success text-white font-weight-light nvbutton" href="#">Go to Store <i
              class='bx bx-arrow-from-left search'></i><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- First Page -->
  <section>
    <div class="prdct_first pb-5">
      <div class="card mx-auto ">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <p class="h4 titles"><img src="assets/img/Logo.png" alt="" srcset="">&nbsp;&nbsp; Our
                <span>Products</span> </p>

            </div>
            <div class="col-8">
              <div class="pt-2">
                <p>The company relies on sustainable farming methods to alleviate the impact on farming on climate
                  change.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Dried Products -->
      <div class="dryPro">
        <div class="row mx-auto pt-5">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <ul>
              <li>
                <a href="#"> <img src="assets/img/products/ProductCardPineapple.png" alt="" srcset="">
                </a>
              </li>
              <li>
                <a href=""></a>
                <a href="#"  class="bordered"><img src="assets/img/products/Product CardCoconut.png" alt="" srcset=""> </a>
              </li>
              <li>
                <a href="#"  class="bordered"><img src="assets/img/products/ProductCardPapaya.png" alt="" srcset=""> </a>


              </li>
              <li>
                <a href="#"  class="bordered"> <img src="assets/img/products/Product CardMango.png" alt="" srcset=""> </a>

              </li>
              <li>
                <a href="#"  class="bordered"> <img src="assets/img/products/ProductCardFruitBox.png" alt=""></a>


              </li>
            </ul>

          </div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="row pt-3">
              <div class="col-lg-6 mx-auto">
                <h1 class="pb-5">Pineapples</h1>
                <img src="assets/img/products/pineapple.png" alt="" srcset="">
              </div>
              <div class="col-lg-6">
                <div class="w-75">
                  <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Product 1/4</p>
                <h3>Fresh Pineapples</h3>
                <p>Groital concentrates on the cultivation and processing of pineapples in three flavors:
                  <ul>
                    <li>
                     1. Original Dried pineapple chips

                    </li>
                    <li>
                     2. Pineapple with Ginger chips
                    </li>
                    <li>
                     3. Pineapple with chili chips
                    </li>
                  </ul>


                  <p>The company relies on sustainable farming methods to ensure alleviate the impact on farming on
                    climate change.</p>
                <button class="btn btn-lg btn-success pl-2" style="border-radius: 25px;">Buy now<i
                  class='bx bx-arrow-from-left search'></i></button>
                </div>

              </div>
            </div>
            <div class="row pt-3">
              <div class="col-lg-6 mx-auto">
                <img src="assets/img/products/driedPineapple.png" alt="" srcset="">
              </div>
              <div class="col-lg-6">
                <div class="w-75">
                     <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Product 2/4</p>
                <h3>Dried Pineapples</h3>
                <p>Dried pineapples are some of the worlds healthiest snacks, that can be consumed directly, or added
                  to cereal, can be used in baking, in making smoothies /ice creams, and more. Our dried pineapple are
                  all natural and contain no additives. Dried pineapples are a rich of source of fibre and vitamins.
                </p>
                <button class="btn btn-lg btn-success pl-2" style="border-radius: 25px;">Buy now<i
                  class='bx bx-arrow-from-left search'></i></button>
                </div>

              </div>
            </div>

            <div class="row pt-3">
              <div class="col-lg-6 mx-auto">
                <img src="assets/img/products/driedPepper.png" alt="" srcset="">
              </div>
              <div class="col-lg-6">
                <div class="w-75">
                  <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Product 3/4</p>
                  <h3>Dried Pineapple & Chilli</h3>
                  <p>Our dried pineapple with chili chips is produce solely from all natural ingredients. With the
                    powerful heat sensation of chili peppers, this combination is all you need for a great start of your
                    day. </p>

                    <button class="btn btn-lg btn-success pl-2" style="border-radius: 25px;">Buy now<i
                      class='bx bx-arrow-from-left search'></i></button>
                </div>

              </div>
            </div>
            <div class="row pt-3">
              <div class="col-lg-6 mx-auto">
                <img src="assets/img/products/driedSomething.png" alt="" srcset="">
              </div>
              <div class="col-lg-6">
                <div class="w-75">
                  <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Product 4/4</p>
                  <h3>Dried Pineapple & Ginger</h3>
                  <p>Ginger does magic with pineapples, and provides a tickling affect on the pallet. As ginger is a
                    prolific anti-inflammatory agent coupled with rich anti-oxidant properties of pineapple, this
                    combination offers numerous health and nutritional benefits. </p>
                    <button class="btn btn-lg btn-success pl-2" style="border-radius: 25px;">Buy now<i
                      class='bx bx-arrow-from-left search'></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>





  <!-- Fourth Page -->
  <section>

    <!-- Footer -->
    <div class="pb-2">
      <div class="card mx-auto cardsss">
        <div class="row pt-4">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Home</span></p>
              <p class="card-text"> About Us</p>
              <p class="card-text"> Product and Services</p>
              <p class="card-text"> Go to Store</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Call Us</span></p>
              <p class="card-text">+233123456</p>
              <p class="card-text"> +233123456</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Email Us</span></p>
              <p class="card-text">info@groital.com</p>

            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
        <div class="row pt-5">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="card-body">
              <i class='bx bx-time-five bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"> <i> Workin Hours</i></p>
                <p class="card-text"> Monday - Saturday(8am - 9pm)</p>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <i class='bx bx-mail-send bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"><i> Email Us</i></p>
                <p class="card-text"> info@groital.com</p>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <i class='bx bx-phone-call bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"> <i>Call Us</i></p>
                <p class="card-text">+1112223334455</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 ">
            <p class="card-text  text-right pr-5 pt-2">Back To Top <i class='bx bxs-arrow-to-top'
                style="font-size: 25px;"></i></p>
          </div>
        </div>


      </div>
    </div>
  </section>

</div>
