<div class="container-fluid">
  <!-- Navbar : to be editted more -->
  <nav class="navbar navbar-expand-lg navbar-light pt-4">
      <a class="navbar-brand pl-4" href="#">
          <h4><img src="assets/img/Logo2.png" alt="" srcset="">&nbsp; <span class="pt-5">Groital</span></h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-md-auto pr-5">
              <li class="nav-item active">

                  <a class="nav-link font-weight-light navlink" href="#"><i class='bx bx-search search'></i>
                      &nbsp;&nbsp;|
                      &nbsp;&nbsp;&nbsp; Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-expanded="false">
                      Our Company
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item font-weight-light" href="#">About Us</a>
                      <a class="dropdown-item font-weight-light" href="#">Contact Us</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle font-weight-light active" href="#"
                      id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                      Product and Services
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Pineapple</a>
                      <a class="dropdown-item" href="#">Coconut</a>
                      <a class="dropdown-item" href="#">Dried Papaya</a>
                      <a class="dropdown-item" href="#">Dried Mango</a>

                  </div>
              </li>

              <li class="nav-item active">
                  <a class="nav-link btn btn-success text-white font-weight-light nvbutton" href="#">Go to Store
                      <i class='bx bx-arrow-from-left search'></i><span class="sr-only">(current)</span></a>
              </li>
          </ul>
      </div>
  </nav>

  <!-- Hero Card -->
  <section class="sec_first">
      <div class="abt_first">
          <div class="card mx-auto">
              <div class="card-body">
                  <div class="row pt-5">
                      <div class="col-8 pl-5">
                          <h1>Your reliable large-scale supplier of fresh and dried fruits and vegetables.</h1>
                          <p class="h4 titles"> <img src="assets/img/Logo.png" alt=""
                                  srcset="">&nbsp;&nbsp;<span>Groital</span> Company LTD</p>
                      </div>
                      <div class="col-4 pr-5 ">
                          <div class="text-right abticons">
                              <p class="font-italic paraicons">Get in touch</p>

                              <ul>
                                  <li> <i class='bx bx-mail-send'></i></li>
                                  <li><i class='bx bx-phone-call'></i></li>
                                  <li><i class='bx bxl-facebook'></i></li>
                                  <li><i class='bx bxl-twitter'></i></li>
                                  <li><i class='bx bxl-instagram'></i></li>
                              </ul>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
      </div>

      <!-- Core Values -->
      <div class="core">
          <h3 class="text-center pb-5 titles">Our <span>Core Values</span></h3>
          <div class="row mx-lg-4 pt-5">
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <div class="text-center">
                              <img src="assets/img/about/Quality.png" alt="" srcset="">

                          </div>
                          <h5 class="card-title text-center">Quality</h5>
                          <p class="card-text">Growing and preparing the best quality, nutritional fruits to all
                              consumers locally & globally.</p>
                      </div>
                  </div>

              </div>
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <div class="text-center">
                              <img src="assets/img/about/Satiisfaction.png" alt="" srcset="">

                          </div>
                          <h5 class="card-title text-center">Satisfaction</h5>
                          <p class="card-text">Provide an environment that will ensure small scale farmers’
                              satisfaction and development..</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <div class="text-center">
                              <img src="assets/img/about/Improvement.png" alt="" srcset="">

                          </div>
                          <h5 class="card-title text-center">Improvement</h5>
                          <p class="card-text">Striving to improve the livelihood of the people within and outside
                              our business areas.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card">
                      <div class="card-body">
                          <div class="text-center">
                              <img src="assets/img/about/Technology.png" alt="" srcset="">

                          </div>
                          <h5 class="card-title text-center">Technology</h5>
                          <p class="card-text">
                              Encourage the use of technology to reduce risks to farmers & increase profitability.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </section>
  <!-- To Do section -->

  <section>
      <div class="sec_snd">
          <div class="row">
              <div class="col-lg-6 pl-5">
                  <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>WHAT WE DO
                  </p>

                  <div class=" ">
                      <h2>Groital concentrates on the cultivation & processing of pineapples.</h2>
                      <p>Groital is an agribusiness focused on the cultivation and processing of fruits and
                          vegetables
                          into dried products for local and international supply. Our dried pineapples snacks are
                          the
                          best
                          you can find in the market produced under strict hygienic conditions.</p>
                      <p>
                          Consistent supply of high-quality raw materials matter to us, that is why we have
                          invested
                          our
                          first 5 years of business in perfecting the science of cultivating pineapples. Our
                          farmlands
                          are
                          located in the beautiful Aburi valleys at Nsakye, in the Eastern Region of Ghana.
                          Groital
                          was
                          founded with the objective of becoming a reliable large-scale supplier of fresh and
                          dried
                          fruits
                          and vegetable for the local and global markets.</p>

                      <p> Groital is youth driven initiative, and we strongly believe in making impacts in the
                          lives
                          of
                          other young people across the globe.</p>
                      <button class="btn btn-lg text-light btn-success" style="border-radius: 25px;">Get in touch
                          with Us</button>
                  </div>
              </div>

              <div class="col-lg-1 arrow">
                  <img src="assets/img/Arrows.png" alt="" srcset="">
              </div>
              <div class="col-lg-4">
                  <img src="assets/img/about/Image.png" alt="">
              </div>
          </div>
          <div class="row pb-5">
              <div class="col-lg-6">
                  <img src="assets/img/about/drone.png" alt="" class="img-fluid">
              </div>
              <div class="col-lg-6 pr-5">
                  <div class="pb-4">
                      <p><span
                              class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>EMBRACING
                          TECHNOLOGY</p>
                      <h2>The use of Drone in Agriculture</h2>
                      <p>Grotial has employed the use of drones in agriculture, which are used
                          intermittently to scout for diseases and apply target treatment to affected areas..
                          Groital farms was used as practical field to train other African farmers on the use of
                          drones in agriculture. Some tools such as soil moisture meters, pH meters, weighing
                          scales etc are highly used on our farms to ensure precision farming practices.</p>
                  </div>

                  <div class="pb-4">
                      <p><span
                              class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>ECO-FRIENDLY,
                          A GREENER EARTH
                          <span></span>
                          <h2>Sustainability and Environment</h2>
                          <p>Groital continues to use up-to-date technologies, farming best practices, and a
                              formidable
                              supply
                              network to maintain a competitive advantage.</p>

                          <p> Sustainability is important to Groital that is why we rely on Eco-Irrigation. Using
                              potable
                              water from the borehole and solar energy for pumping water. Groital is one of the
                              few
                              cultivators that do not use plastic mulch on its’ farms. Plast ic mulch has become a
                              nuisance to
                              the environment and continue to affect soil fertility..</p>
                  </div>


              </div>
          </div>
          <!-- Idris Elba  -->
          <div class="text-center pt-5">
              <img src="assets/img/about/Video.png" alt="" style="border-radius: 20px;" srcset="">
          </div>
      </div>
  </section>

  <!-- Patners section -->
  <section>
      <div class="row pb-5">

          <div class="col-lg-6 pl-5">
              <div>
                  <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>PARTNeRS &
                      CLIENTS </p>
                      <h2>Our esteemed partners & clients.</h2>
                      <p class="pt-3">To help reduce market risk and the potential risks of drought and other social and
                          environmental
                          forces, Groital has entered service contracts with Esoko. Esoko is a mobile
                          telecommunication
                          service provider driving social and economic impact in rural communities through the
                          innovative
                          use of mobile phone technology. Esoko regularly delivers market information to farmers
                          across
                          Africa; information on weather, price and market demand on various markets (daily and
                          weekly).
                              </p>
                         <p>Groital also currently supplies pineapples to HPW, a company that develops, produces and
                          supplies added-value agricultural products to customers in Switzerland and in Europe.</p>
              </div>

                  <div>
                      <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>AWARDS </p>
                      <h2>Recognizing Greatness</h2>
                      <p class="pt-3">The CEO of Groital won Total startupper of the year 2016, Which brought together budding
                          entrepreneurs from all over Ghana to compete and challenge their startup businesses.</p>

                         <p> The company also won an ultimate prize from Technoserve Ghana, as part of ENGINE 2016.
                          ENGINE is
                          a multiyear project implemented by TechnoServe with funding from the UK Government through
                          the
                          Department for International Development (DFID) that seeks to equip Micro and Small
                          Enterprises
                          (MSEs) with the necessary skills and resources to improve their business plans and internal
                          operations, while creating a thriving community of entrepreneurs through increased access to
                          business development services and to financing.</p>
                  </div>


          </div>
          <div class="col-lg-6 text-center pt-5">
              <img src="assets/img/about/Partners.png" alt="" class="img-fluid pt-5">
          </div>
      </div>
  </section>

  <!-- Contact Us -->
  <section class="pb-5 contact">
      <div class="row pb-5">
          <div class="col-lg-5 pl-5">
              <p><span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Contact Us </p>
              <h2>Get in Touch With Us</h2>
              <p>At Groital, we are happy to answer any questions you might have, explore potential partnerships
                  and receive requests from interested clients.</p>

              <div class="contactus">
                   <div>

                  <p class="titles"><i class='bx bxs-map bx-md'></i><span>Our Office</span></p>
                  <div class="pl-4">
                      <p>Groital Farms</p>
                  <p>1 Wawa Road, Accra, Ghana.</p>
                  </div>

              </div>

              <div class="row">
                  <div class="col-lg-6">
                      <div>
                           <p class="titles"><i class='bx bx-phone-call bx-md' ></i><span>Call us</span></p>
                           <div class="pl-4">
                              <p>1234567890</p>
                              <p>1234567890</p>
                           </div>

                      </div>

                  </div>
                  <div class="col-lg-6">
                      <div>
                          <p class="titles"><i class='bx bx-mail-send bx-md' ></i><span>Email Us</span></p>
                          <div class="pl-4">
                               <p>info@groital.com</p>
                      <p>groitalfarms@gmail.com</p>
                          </div>

                      </div>

                  </div>
              </div>
              </div>

          </div>
          <div class="col-lg-7">
              <div class="w-75 pl-5 pb-5">
                  <p>Fill the form below to reach us. We will get back to you using the email you provide.</p>

                  <form>
                      <div class="form-group">
                          <input type="text" class="form-control" id="exampleFormControlInput1"
                              placeholder="What should we call you">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control" id="exampleFormControlInput1"
                              placeholder="Your email">
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Example textarea</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1"
                              placeholder="Your Message" rows="3"></textarea>
                      </div>

                      <button type="submit" class="btn btn-outline-dark btn-block"
                          style="border-radius: 20px;">Submit</button>
                  </form>
              </div>

          </div>
      </div>
  </section>








  <section>

      <!-- Footer -->
      <div class="pb-2">
          <div class="card mx-auto cardsss">
              <div class="row pt-4">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                      <div class="card-body">
                          <p class="card-title titles"> <span>Home</span></p>
                          <p class="card-text"> About Us</p>
                          <p class="card-text"> Product and Services</p>
                          <p class="card-text"> Go to Store</p>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card-body">
                          <p class="card-title titles"> <span>Call Us</span></p>
                          <p class="card-text">+233123456</p>
                          <p class="card-text"> +233123456</p>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card-body">
                          <p class="card-title titles"> <span>Email Us</span></p>
                          <p class="card-text">info@groital.com</p>

                      </div>
                  </div>
                  <div class="col-md-5"></div>
              </div>
              <div class="row pt-5">
                  <div class="col-md-1"></div>
                  <div class="col-md-3">
                      <div class="card-body">
                          <i class='bx bx-time-five bx-md float-left'></i>
                          <div class="float-right texts">
                              <p class="card-text text-success first_para titles"> <i> Workin Hours</i></p>
                              <p class="card-text"> Monday - Saturday(8am - 9pm)</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card-body">
                          <i class='bx bx-mail-send bx-md float-left'></i>
                          <div class="float-right texts">
                              <p class="card-text text-success first_para titles"><i> Email Us</i></p>
                              <p class="card-text"> info@groital.com</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card-body">
                          <i class='bx bx-phone-call bx-md float-left'></i>
                          <div class="float-right texts">
                              <p class="card-text text-success first_para titles"> <i>Call Us</i></p>
                              <p class="card-text">+1112223334455</p>
                          </div>

                      </div>
                  </div>
                  <div class="col-md-4 ">
                      <p class="card-text  text-right pr-5 pt-2">Back To Top <i class='bx bxs-arrow-to-top'
                              style="font-size: 25px;"></i></p>
                  </div>
              </div>


          </div>
      </div>
  </section>

</div>
