<div class="container-fluid">
  <!-- Navbar : to be editted more -->
  <nav class="navbar navbar-expand-lg navbar-light pt-4">
    <a class="navbar-brand pl-4" href="#">
      <h4><img src="assets/img/Logo2.png" alt="" srcset="">&nbsp; <span class="pt-5">Groital</span></h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-md-auto pr-5">
        <li class="nav-item active">

          <a class="nav-link font-weight-light navlink" href="#"><i class='bx bx-search search'></i> &nbsp;&nbsp;|
            &nbsp;&nbsp;&nbsp; Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Our Company
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light mydrop" href="#">About Us</a>
            <a class="dropdown-item font-weight-light mydrop" href="#">Contact Us</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-light active" href="#" id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-expanded="false">
            Product and Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item font-weight-light mydrop" href="#">Pineapple</a>
            <a class="dropdown-item font-weight-light mydrop" href="#">Coconut</a>
            <a class="dropdown-item font-weight-light mydrop" href="#">Dried Papaya</a>
            <a class="dropdown-item font-weight-light mydrop" href="#">Dried Mango</a>

          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link btn btn-success text-white font-weight-light nvbutton" href="#">Go to Store <i
              class='bx bx-arrow-from-left search'></i><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- First Page -->
  <section>
    <div class="first_page">
      <div class="row pt-5">
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
          <div class="left_side">
            <h1 class="title">Groital Company LTD <img src="assets/img/Hero.png" class="img-fluid" alt="" srcset="">
            </h1>
            <h3 class="text-success">Grow It All</h3>
            <div class="hero_par">
              <p class=" first_para">Cultivation and processing of fruits and vegetables into dried products for local
                and international sales.
              </p>
              <p>Groital is an agribusiness focused on the cultivation and processing of fruits and vegetables into
                dried products
                for local and international supply. Our dried pineapples snacks are the best you can find in the
                market produced
                under strict hygienic conditions. </p>
              <div>
                <button class="btn btn-lg btn-outline-dark font-weight-lighter">More About
                  Us</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-lg btn-success text-white font-weight-lighter">Explore Products</button>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-5 hero_img">
          <img src="assets/img/products1.png" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-lg-1">
          <!-- Social media Icons -->
          <div class="icons">
            <ul>
              <li>
                <p><i class='bx bx-mail-send'></i></p>
              </li>
              <li>
                <p><i class='bx bx-phone-call'></i></p>
              </li>
              <li>
                <p><i class='bx bxl-facebook'></i></p>
              </li>
              <li>
                <p><i class='bx bxl-twitter'></i></p>
              </li>
              <li>
                <p><i class='bx bxl-instagram'></i></p>

              </li>
            </ul>
          </div>

          <div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Second Page -->
  <section>
    <div class="second_page">
      <div>
        <!-- Card  -->
        <div class="card mx-auto cardss">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mx-auto text-center pt-5">
                <h4 class="card-title titles">Our <span>Mission</span> and <span>Vision</span></h4>
                <div class="text-center mx-auto w-75 cart_text">
                  <p>To be the leading supplier of the best quality dried fruit and vegetable from Africa.</p>
                  <p>To produce high quality, nutritional fruit and vegetable
                    snacks on a large scale for local and global consumption.</p>
                </div>


              </div>
              <div class="col-md-2">
                <div class="vl"></div>

              </div>
              <div class="col-md-2 card_icon">
                <img src="assets/img/Eat Healthy.png" alt="No preview" srcset="">
                <p class="pt-4">Eat well and Stay Healthy</p>
              </div>
              <div class="col-md-2 card_icon">
                <img src="assets/img/Hygiene.png" alt="No preview" srcset="">
                <p class="pt-4">Produced Under Strict Hygienic Conditions</p>
              </div>
              <div class="col-md-2 card_icon">
                <img src="assets/img/Healthy Customer.png" alt="No preview" srcset="">
                <p class="pt-4">Created with Consumer in Mind</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row second_row">
          <div class="col-md-5">
            <img src="assets/img/People Image.png" class="img-fluid" alt="No preview" srcset="">
          </div>
          <div class="col-md-2 arrow">
            <img src="assets/img/Arrows.png" alt="No preview" srcset="">
          </div>
          <div class="col-md-5 pt-5">
            <p> <span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> About Us</p>
            <h2>Groital Company LTD</h2>
            <div class="w-75">
              <p>Groital is an agribusiness focused on the cultivation and processing of fruits and vegetables
                into dried products for local and international supply. Our dried pineapples snacks are the best
                you can find in the market produced under strict hygienic conditions.</p>

              <p>Consistent supply of high-quality raw materials matter to us, that is why we have invested our first
                5 years of business in perfecting the science of cultivating pineapples... Read More</p>
            </div>
            <button class="btn btn-lg btn-success text-white font-weight-lighter">Contact Us</button>

          </div>
        </div>
      </div>

      <div>
        <div class="row pt-5 research text-center">
          <div class="col-md-4 pl-5">
            <img src="assets/img/Man With Drone.png" alt="" srcset="">
            <div class="card pt-lg-0" style="width: 358px;">
              <div class="card-body">
                <h5 class="card-title">Technology</h5>
                <p class="card-text">Grotial has employed the use of drones in agriculture, which are used
                  intermittently to scout for diseases and apply...</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/img/Lab Research Lady.png" alt="" srcset="">
            <div class="card pt-lg-0" style="width: 358px;">
              <div class="card-body">
                <h5 class="card-title">Research</h5>
                <p class="card-text">Grotial has employed the use of drones in agriculture, which are used
                  intermittently to scout for diseases and apply...</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/img/Kids Pumping Water.png" alt="" srcset="">
            <div class="card pt-lg-0" style="width: 358px;">
              <div class="card-body">
                <h5 class="card-title">CSR</h5>
                <p class="card-text">Grotial has employed the use of drones in agriculture, which are used
                  intermittently to scout for diseases and apply...</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Third Page -->
  <section>
    <div class="third_page">
      <div class="row">
        <div class="col-md-5 left_card">
          <div class="pl-5">
            <p> <span class="text-success underscore">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Our Products</p>

            <h1>Groital concentrates on the cultivation & processing of pineapples.</h1>


            <button class="btn btn btn-success">View All Products <i
                class='bx bx-arrow-from-left search'></i></button>
          </div>
        </div>
        <div class="col-md-7">
          <div class="text-center">
            <!-- <div class="owl-carousel owl-theme">


              <div class="item pb-5">
                <img src="assets/img/product-2-removebg-preview 1.png" alt="" srcset=""
                  style="width: 174px; height:264px">
                <div class="card one_card">
                  <div class="card-body">
                    <h5 class="card-title">Card title1</h5>
                    <p class="card-text">A complete set of dried pineapples, dried pineapples with chilli, dried
                      mango, dried coconut, dried apple, ...</p>
                    <button class="btn btn-outline-dark">Buy Now </button>

                  </div>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/IMG_5671 1.png" alt="" srcset="" style="width: 298px; height:206px">

                <div class="card two_card">
                  <div class="card-body">
                    <h5 class="card-title">Card title2</h5>
                    <p class="card-text">Ginger does magic with pineapples, and provides a tickling affect on the
                      pallet. As ginger is a prolific ...</p>
                    <button class="btn btn-outline-dark">Buy Now </button>
                  </div>
                </div>
              </div>


            </div> -->

            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <img src="assets/img/product-2-removebg-preview 1.png" alt="" srcset=""
                style="width: 174px; height:264px">
              <div class="card one_card">
                <div class="card-body">
                  <h5 class="card-title">Card title1</h5>
                  <p class="card-text">A complete set of dried pineapples, dried pineapples with chilli, dried
                    mango, dried coconut, dried apple, ...</p>
                  <button class="btn btn-outline-dark">Buy Now </button>

                </div>
              </div>
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/img/IMG_5671 1.png" alt="" srcset="" style="width: 298px; height:206px">

                <div class="card two_card">
                  <div class="card-body">
                    <h5 class="card-title">Card title2</h5>
                    <p class="card-text">Ginger does magic with pineapples, and provides a tickling affect on the
                      pallet. As ginger is a prolific ...</p>
                    <button class="btn btn-outline-dark">Buy Now </button>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/img/product-2-removebg-preview 1.png" alt="" srcset=""
                style="width: 174px; height:264px">
              <div class="card one_card">
                <div class="card-body">
                  <h5 class="card-title">Card title1</h5>
                  <p class="card-text">A complete set of dried pineapples, dried pineapples with chilli, dried
                    mango, dried coconut, dried apple, ...</p>
                  <button class="btn btn-outline-dark">Buy Now </button>

                </div>
              </div>
              </ng-template>
              <ng-template carouselSlide>
                <img src="assets/img/product-2-removebg-preview 1.png" alt="" srcset=""
                style="width: 174px; height:264px">
              <div class="card one_card">
                <div class="card-body">
                  <h5 class="card-title">Card title1</h5>
                  <p class="card-text">A complete set of dried pineapples, dried pineapples with chilli, dried
                    mango, dried coconut, dried apple, ...</p>
                  <button class="btn btn-outline-dark">Buy Now </button>

                </div>
              </div>
              </ng-template>




            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Fourth Page -->
  <section>
    <div class="fourth_page">
      <h1 class="text-center">Our Partners</h1>
      <p class="text-center mx-auto w-75">With collaboration with numerous key players in Agri-business, we drive
        meaningful partnerships with key players
        including Hortifresh, SNV Ghana, Total Petroleum Ghana, MBC Africa.</p>
      <!-- Collaborators -->
      <div class="row pt-5 sponsors">

        <div class="col-md-2"></div>
        <div class="col-md-2">
          <img src="assets/img/hortifreshlogoret.png" alt="" srcset="">
        </div>
        <div class="col-md-2">
          <img src="assets/img/SNV Ghana 1.png" alt="" srcset="">
        </div>
        <div class="col-md-2">
          <img src="assets/img/gh-total-logo.png" alt="" srcset="">
        </div>
        <div class="col-md-2">
          <img src="assets/img/MBC Africa.png" alt="" srcset="">
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <!-- Footer -->
    <div class="pb-2">
      <div class="card mx-auto cardsss">
        <div class="row pt-4">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Home</span></p>
              <p class="card-text"> About Us</p>
              <p class="card-text"> Product and Services</p>
              <p class="card-text"> Go to Store</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Call Us</span></p>
              <p class="card-text">+233123456</p>
              <p class="card-text"> +233123456</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-title titles"> <span>Email Us</span></p>
              <p class="card-text">info@groital.com</p>

            </div>
          </div>
          <div class="col-md-5"></div>
        </div>
        <div class="row pt-5">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="card-body">
              <i class='bx bx-time-five bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"> <i> Workin Hours</i></p>
                <p class="card-text"> Monday - Saturday(8am - 9pm)</p>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <i class='bx bx-mail-send bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"><i> Email Us</i></p>
                <p class="card-text"> info@groital.com</p>
              </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <i class='bx bx-phone-call bx-md float-left'></i>
              <div class="float-right texts">
                <p class="card-text text-success first_para titles"> <i>Call Us</i></p>
                <p class="card-text">+1112223334455</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 ">
            <p class="card-text  text-right pr-5 pt-2">Back To Top <i class='bx bxs-arrow-to-top'
                style="font-size: 25px;"></i></p>
          </div>
        </div>


      </div>
    </div>

    Awesomness

  </section>



</div>


