/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('assets/fonts/Raleway/static/Raleway-Bold.ttf');
}



body {
  margin: 0;
  padding: 0;
  background-color: rgba(246, 248, 255, 1);
  font-weight: 100;
}

p {
  font-family: 'Raleway';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'RalewayBold';
}

nav .navbar .navlink:hover {
  color: rgb(255, 255, 255);
  border: 0;

}

nav .dropdown-menu{
  background-color: #F6F8FF;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
nav .dropdown-menu .mydrop{
  position: relative;
  display: inline-block;
}

.search {
  font-size: 20px;
  vertical-align: middle;

}

.nvbutton {
  border-radius: 30px;

}

.btn-success {
  background-color: rgb(53, 187, 53);
  border: 0;
}

.first_page {
  height: 100%;
  padding-bottom: 5%;
}
.hero_par {
  width: 75%;
}


.first_para {
  margin: 0;
  font-size: 16px;
}

.left_side {
  padding-top: 150px;
}

.left_side h1 img {
  margin-top: -50px;
  width: 35px;
}

.left_side button {
  font-size: medium;
  font-weight: lighter;
  border-radius: 25px;
}

.title {
  font-family: 'RalewayBold';
  font-size: 55px;
}


.icons {
  font-size: 25px;
  width: 100%;
  position: absolute;
  left: 20%;
  bottom: 0;
}

.icons ul {
  list-style-type: none;
}

.icons ul li {
  display: block;
}

.second_page {
  height: 100%;
}

.second_page .cardss {
  color: white;
  width: 90%;
  height: 300px;
  border-radius: 30px;
  background-color: black;
}

.titles {
  font-weight: 100;
}

.titles span {

  text-decoration: underline;
  text-decoration-color: rgb(31, 212, 31);
}

.cart_text {
  font-size: 15px;
}

.vl {
  border-left: 1px solid rgb(255, 255, 255);
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 50%;
}

.card_icon {
  padding-top: 70px;
}

.underscore {
  width: 30px;
  text-decoration: underline;
  text-decoration-color: rgb(31, 212, 31);

}

.second_row {
  padding-top: 11%;
}

.arrow {
  padding-top: 15%;
}

.second_row button {
  border-radius: 30px;
}

.research {
  margin-bottom: 10%;
}

.research img {
  padding-bottom: -20px;
  font-size: 0;
}

.research .card {
  background-color: #F6F8FF;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.research .card img {
  padding: 0;
  margin: 0;

}

.third_page {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.third_page .card {
  background-color: #F6F8FF;
}

.one_card {
  width: 376px;
  height: 228px;
}

.two_card {
  width: 376px;
  height: 228px;
}

.third_page button {
  border-radius: 20px;
}

.left_card {
  padding-top: 10%;
}

.third_page .card {
  border-radius: 20px;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardsss {
  color: white;
  width: 90%;
  height: 360px;
  border-radius: 30px;
  background-color: black;
}

.sponsors {
  padding-bottom: 100px;
}

.texts {
  text-decoration: none;
}

@media only screen and (max-width: 1280px) {
  .title {
      font-size: 40px;
  }

  .one_card {
      width: 336px;
      height: 208px;
  }

  .two_card {
      width: 336px;
      height: 208px;
  }

  .cardsss {

      height: 370px;
  }

  .texts {
      font-size: small;
  }
}

@media only screen and (max-width: 991px) {
  .title {
      font-size: 33   px;
  }
  .first_page .hero_img .img-fluid{
      margin-top: 50%;
      margin-left: 20%;
  }
  .hero_par {
      width: 100%;
  }

  .icons ul {
      padding-left: 50%;
  }

  .icons ul li {
      display: inline-block;
      /* changed */
      width: 10%;

  }

}

/* About Page */
.sec_first{
  padding-bottom: 8%;
}
.abt_first {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 8%;

}

.abt_first .card {
  background-image: url('assets/img/fadedlogo.png');
  background-repeat: no-repeat;
  background-position: 90%;
  color: white;
  width: 1280px;
  height: 481px;
  left: 0px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 1280px;

}
/* .abt_first .card::before{
  background-color: rgba(0,0,0,0.25);

} */
.abt_first .card h1{
  font-size: 62px;
  font-family: 'RalewayBold';

}
.abt_first .card .paraicons{
  font-size: 15px;
  padding-right: 70%;
}
.abt_first .card .abticons{
  float: left;
  padding-top: 80%;
}

.abt_first .card .abticons ul{
  display:flex;
  list-style:none;
  padding: 0px;
  justify-content: space-between;
}
.abt_first .card .abticons ul li{
      font-size: 25px;
      padding:5px 20px;
}

.core .card{
  width: 278px;
  border-radius: 15px;
  border: 0;
  background-color:rgba(246, 248, 255, 1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);

}

.sec_snd {
  height: 100%;
  padding-bottom: 8%;

}


.contact{
  padding-top: 12%;
}

.contactus p {
  line-height: 0.8;

}

.contact input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000000;
}
.contact textarea{
  background: rgba(169, 188, 208, 0.16);
  height: 183px;
}

/* Products Page */
.prdct_first {
  padding-top: 8%;
}
.prdct_first .card{
  color: white;
  height: 96px;
  left: 0px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 1280px;
}

.dryPro{
  padding-top: 5%;

}
.dryPro ul{
  list-style-type: none;
}
.dryPro ul a.bordered:hover img {
  border: solid 2px rgb(64, 163, 7);
  border-radius: 20px;
}
